<div
    id="pages-tracker"
    class="uk-container uk-container-xlarge"
    local-class="pages-tracker"
>
  <div id="tracked-days" local-class="tracked-days">
    <PikadayInput
        @class="uk-input uk-form-small"
        @onSelection={{fn this.dateAction}}
        @placeholder="Add..."
        @theme="pikaday-theme"/>

    {{#each this.sortedDays as |day|}}
      <Ui::Tracker::TrackedDay @day={{day}} />
    {{/each}}
    {{#unless this.moarDisabled}}
      <button
          type="button"
          local-class="load-more"
          class="uk-button uk-button-small uk-button-default"
          disabled={{this.moarDisabled}}
        {{on 'click' (fn this.fetchMoreDays)}}>
        Load More...
      </button>
    {{/unless}}
  </div>
  {{outlet}}
</div>