<div
  class="uk-container2 uk-container-xlarge"
  uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"
>
  {{!-- <nav uk-navbar class="uk-navbar-container">
    <div class="uk-navbar-left">
      <div class="uk-inline">
        <LinkTo @route="application" @class="uk-navbar-item uk-logo">
          <span class="uk-form-icon" uk-icon="icon: bolt"></span>
        </LinkTo>
        {{! <a class="uk-navbar-item uk-logo" href="#">
          <span class="uk-form-icon" uk-icon="icon: bolt"></span>
        </a> }}
      </div>
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <LinkTo @route="application">
            Tracker
          </LinkTo>
        </li>
        <li class="uk-parent">
          <LinkTo @route="messages">
            Chat
          </LinkTo>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      test: '{{this.model.testMe.username}}'
      {{#if this.authentication.authedMe}}
        <span class="uk-margin-right">
          <i>
            {{this.greetings}} {{this.authentication.authedMe.username}}
          </i>
        </span>
      {{/if}}
      <div class="uk-inline uk-margin-right">
        <button
          type="button"
          class="uk-button uk-button-default"
          {{on "click" this.logout}}
        >
          <span class="uk-form-icon" uk-icon="icon: sign-out"></span>
          logout
        </button>
      </div>
    </div>
  </nav> --}}
  <Ui::NavBar />
</div>
<div class="uk-margin-top">
  {{outlet}}
</div>