<div class="uk-inline uk-flex">
  <button
      disabled={{this.moarDisabled}}
      type="button"
      class="uk-button uk-button-default uk-flex-1"
    {{on "click" this.fetchMore}}
  >
    <span class="uk-form-icon" uk-icon="icon: world"></span>
    Load Older...
  </button>
</div>
<div
    id='chat-container'
    local-class="chat-container"
    {{ref this 'chatContainer'}}
>
  <div local-class="chat-contents" {{ref this 'chatContents'}}>
    {{#each this.sortedMsgs as |msg|}}
      <Ui::Chat::Message @message={{msg}} @notifyAction={{fn this.notifyScroll}} />
    {{/each}}
  </div>
</div>
<hr/>

<form class="uk-flex" {{on "submit" this.createMessage}}>
  <div class="uk-inline uk-flex-1">
    <span class="uk-form-icon" uk-icon="icon: comment"></span>
    <Input @value={{this.text}} class="uk-input" @autofocus="true"/>
  </div>
  <br/>
  <Input
      @type="submit"
      @value="Send"
      class="uk-button uk-button-primary uk-flex-none"
  />
</form>

{{yield}}