<div
  id="pages-tracker"
  class="uk-container uk-container-xlarge"
  local-class="pages-tracker"
>
  <div id="tracked-days" local-class="tracked-days">
    {{#each this.sortedDays as |day|}}
      {{!-- {{moment-format day.date "YYYY/MM/DD ddd"}} {{day.mode}} --}}

      <AnimatedValue
        day
        @use={{this.transition}}
        @initialInsertion={{true}}
        {{! @duration="1000" }}
      >
        <Ui::Tracker::TrackedDay @day={{day}} />
      </AnimatedValue>
    {{/each}}
  </div>
  {{yield}}
  {{! <div id="track-container" local-class="track-container">
    <div id="tracked-tasks" local-class="tracked-tasks">
      tracked tasks
    </div>
    <div id="timesheet" local-class="timesheet">
      timesheet
    </div>
  </div> }}
</div>