<div id="track-container" local-class="track-container">
  {{! <img src="/images/spacex-1.jpg" alt="tmep" width="200px" /> }}
  <div
    id="tracked-tasks-container"
    local-class="tracked-tasks-container"
    {{did-resize this.didResize}}
    {{did-insert this.didResize}}
  >
    <div local-class="tick-container">
      {{#each this.formattedTicks as |tick|}}
        <div local-class="tick-hour">
          {{tick}}
        </div>
      {{/each}}
    </div>
    <div local-class="time-container">
      <Ui::Tracker::TrackedTask
        @ticks={{this.ticks}}
        @scale={{this.scale}}
        @day={{this.day}}
      />
    </div>
  </div>
  <div id="timesheet" local-class="timesheet">
    timesheet
  </div>
</div>