<nav uk-navbar class="uk-navbar-container uk-navbar-transparent">
  <div class="uk-navbar-left">
    <div class="uk-inline">
      <LinkTo @route="home" @class="uk-navbar-item uk-logo">
        <span class="uk-form-icon" uk-icon="icon: bolt"></span>
      </LinkTo>
    </div>
    <ul class="uk-navbar-nav">
      <li class="">
        <LinkTo @route="tracker">
          Tracker
        </LinkTo>
      </li>
      <li class="uk-parent">
        <LinkTo @route="charge-codes">
          Charge Codes
        </LinkTo>
      </li>
      <li class="uk-parent">
        <LinkTo @route="messages">
          Chat
        </LinkTo>
      </li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    {{#if this.atLogin}}
      <span class="uk-margin-right">
        🚀
      </span>
    {{else}}
      {{this.me.me.username}} -
      {{#if this.authentication.authedMe.username}}
        <span class="uk-margin-right">
          <i>
            {{this.greetings}} {{this.authentication.authedMe.username}}
          </i>
        </span>
      {{/if}}
      <div class="uk-inline uk-margin-right">
        <button
          type="button"
          class="uk-button uk-button-default"
          {{on "click" this.logout}}
        >
          <span class="uk-form-icon" uk-icon="icon: sign-out"></span>
          logout
        </button>
      </div>
    {{/if}}
  </div>
</nav>