<div
  local-class="container"
  {{did-resize this.didResize}}
  {{on-click-outside this.clearSelections}}
>
  <div local-class="tracked-tasks">
    asd
    {{@trackedTask.notes}}:
    {{#each @trackedTask.chargeCodes as |cc|}}
      {{cc.name}}
    {{/each}}
  </div>
  <AnimatedContainer local-class="tracked-time">
    {{#each this.squares as |square|}}
      <div
        local-class={{concat "square" (if square.selected " block-selected")}}
        role="button"
        tabindex="0"
        {{on "keyup" (fn this.keyUp square)}}
        {{on "click" (fn this.mouseClick square)}}
        {{on "mousedown" (fn this.mouseDown square)}}
        {{on "mouseover" (fn this.mouseOver square)}}
        {{on "mouseleave" (fn this.mouseLeave square)}}
        {{!-- {{css-transition blockSelected=square.selected}}
        {{css-transition checked=square.checked}} --}}
      >
        {{#animated-if square.checked use=this.transitionChecked}}
          <div local-class="block-checked"></div>
        {{/animated-if}}
      </div>
    {{/each}}
  </AnimatedContainer>
  {{! <div local-class="time-blocks-container"> }}
  <AnimatedContainer local-class="time-blocks">
    {{#each this.chargedTime as |timeBlock|}}
      <div style={{timeBlock.style}} local-class="time-block">
      </div>
    {{/each}}
  </AnimatedContainer>
  {{! </div> }}
</div>