<div {{did-resize this.didResize}} {{on-click-outside this.clearSelections}}>
  IMA TASK
  <div local-class="tracked-tasks">
    asd
  </div>
  <AnimatedContainer local-class="tracked-time">
    {{#animated-each this.squares use=this.transition duration=1000 as |square|
    }}
      <div
        local-class="square"
        role="button"
        tabindex="0"
        {{on "keyup" (fn this.clickBlock square)}}
        {{on "click" (fn this.clickBlock square)}}
        {{css-transition blockSelected=square.selected}}
        {{css-transition checked=square.checked}}
      >
        {{#animated-if square.checked use=this.transitionChecked}}
          <div local-class="block-checked"></div>
        {{/animated-if}}
      </div>
    {{/animated-each}}
  </AnimatedContainer>
</div>