<div id="track-container" local-class="track-container">
  <div
    id="tracked-tasks-container"
    local-class="tracked-tasks-container"
    {{did-resize this.didResize}}
    {{did-insert this.didResize}}
  >
    <div local-class="tick-container">
      {{#each this.formattedTicks as |tick|}}
        <div local-class="tick-hour">
          {{tick}}
        </div>
      {{/each}}
    </div>
    <div local-class="time-container">
      {{#each this.sortedTasks as |task|}}
        <Ui::Tracker::TrackedTask
          @trackedTask={{task}}
          @ticks={{this.ticks}}
          @scale={{this.scale}}
          @day={{this.model.trackedDay}}
          @chargeCodes={{this.model.chargeCodes}}
        />
      {{/each}}
    </div>
  </div>
  <div id="timesheet" local-class="timesheet">
    timesheet
    <div local-class="test-counter-container">
      <button type="button" {{on "click" this.increment}}>
        +
      </button>
      <button type="button" {{on "click" this.decrement}}>
        -
      </button>

      <AnimatedContainer>
        {{#animated-value this.counter rules=this.rules as |v|}}
          <span class="count">
            {{v}}
          </span>
        {{/animated-value}}
      </AnimatedContainer>
    </div>
  </div>
</div>
{{outlet}}